<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/"><img src="{% static 'assets/images/logo.svg' %}" alt="logo" /></a>
          
        </div>
        
        <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link">Навигация</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/news/">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Главная</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/news/search">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Поиск</span>
            </a>
          </li>

          {% if is_author %}
          <li class="nav-item menu-items">
            <a class="nav-link" href="/news/create">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Запостить</span>
            </a>
          </li>
          {% else %}
          <li class="nav-item menu-items">
            <a class="nav-link" href="upgrade">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Хочу стать автором!</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">


        <!-- Page content -->
        <div class="main-panel">
          <div class="content-wrapper ">

            <div class="row justify-content-center">
              {% if request.user.is_authenticated %}
              <h3 class="page-title small text-muted">
                * Пользователь: 
                <strong>{{ request.user.username }}</strong>.
                {% if is_author %}
                 * Группа: Авторы * 
                {% endif %}

                <a href="/accounts/logout/"> Выйти</a> 
              </h3>
              {% else %}
              <h3 class="page-title small text-muted">
                Войдите в аккаунт: 
                <a href="/accounts/login/"> Войти</a> 
              </h3>
              {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>

        </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </body>
</html>