{% extends 'layout/bb.html' %}

{% block title %}
Доска Дракона
{% endblock title %} 

{% block name %}
Доска Дракона
{% endblock name %} 

{% block userbutton %}
<ol>
  {% if user.is_authenticated %}
  <li><a href="create" class="scrollto">Создать пост</a></li>
  <li><a href="my_comments" class="scrollto">Посмотреть комментарии</a></li>
  {% else %}
  Создание поста доступно только <a href="/accounts/login/" class="scrollto">зарегистированным пользователям</a>
  {% endif %}
</ol>
{% endblock userbutton %}

{% block content %} 
    {% for message in messages %}

          <article class="entry entry-single">
            <div class="entry-img">
              <img src="../{{ message.mainPic.url }}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="{{ message.pk }}">{{ message.title }}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> 
                    <a href="#author">{{message.author.username}}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> 
                    <a href="blog-single.html"><time datetime="{{ message.cTime|date:'Y-m-d' }}">
                        {{ message.cTime|date:'Y-m-d H:i' }}</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> 
                    <a href="{{ message.pk }}#comments">{{ message.num_comments }} Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                {{ message.body }}
              </p>
            </div>

            <div class="entry-footer">
              <i class="bi bi-folder"></i>
              <ul class="cats">
              {% for cat in message.category.all %}
                <li><a href="#">{{ cat }}</a></li>
              {% endfor %}
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
              <!-- <li><a href="#">Tag1</a></li>
                <li><a href="#">Tag2</a></li>
                <li><a href="#">Tag3</a></li> -->
              </ul>
            </div>

          </article><!-- End blog entry -->

    {% empty %}
    {% endfor %}

{% endblock content %}  