{% extends 'layout/bb.html' %}

{% block title %}
Доска объявлений для MMORPG Dungeons@Rats
{% endblock title %} 

{% block content %} 
<section class="tables">
    <div class="page-header">
        <div class=row><h1 class="page-title">Последние объявления</h1></div>   
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2"></div>
            <div class="col-md-auto">
            {% if messages %}
                {% for message in messages %}

                <div class="card text-center mb-3">
                    <img src="{{ message.mainPic.url }}" class="card-img-top" alt="{{ message.title }}">
                    <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{ message.title}}</h5>
                    <p class="card-text">{{ message.body }}</p>
                    <a href="#" class="btn btn-primary">Оставить отзыв</a>
                    </div>
                </div>

                {% endfor %}        

                {% include 'layout/parts/paginator.html' %}

                {% else %}
                    <h2> Новостей нет </h2>
                {% endif %}
            </div>
            <div class="col col-lg-2">
            3 of 3
            </div>
        </div>
    </div>
</section>
{% endblock content %}  